
{#<form ng-submit="submitForm()">#}

{#{{ form_widget(animalForm.name, {'attr': {'ng-model':'form.name'}}) }}#}

{#<input type="submit" value="Save" />#}
{#</form>#}




<div class="row">
    <div class="col-md-9">

        <form ng-submit="submitForm()">
            <input type="text" name="firstName" ng-model="form.firstName"> First name <br/>
            <input type="text" name="lastName"  ng-model="form.lastName"> Last name <br/>
            <input type="button" value="Submit Form">
        </form>
        <p>Check the console in browser after form submision</p>


    </div>
    <div class="col-md-3">
        <p>Debuging</p>
        <ul>
            <li>{{ '{{form.firstName}}' }} </li>
            {#<li>{{form.lastName}}</li>#}
        </ul>
    </div>
</div>